body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

    height: 100%;
    margin: 0;
  
}


.dashboard {
    padding: 2em;
}

.dashboard h2 {
    background-color: #2A52BE;
    color: white;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
  main.dashboard {
    flex: 1;
    padding: 2em;
  }
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2em;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 1em;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}
